/* 1. Navbar Css */
/* 2. Search Bar  */


:root{
  --primary-color:#D33F00;
  --secondary-color:#3F3F3F;
  --secondary-litecolor:#D9D9D9;
}
.primaryTextColor{
  color: var(--primary-color);
}
.primaryBgColor{
  background-color: var(--primary-color);

}
.secondaryBgColor{
  background-color: var(--secondary-color);

}
.heading{
  font-size: 28px;
  color: var(--primary-color);
  line-height: 1.2;
}
.sub--heading{
  font-size: 18px;
  color: var(--secondary-color);
}
.item--heading{
  font-size: 18px;
  color: var(--primary-color);
}
.item--sub{
  font-size: 14px;
  color: var(--secondary-color);
}
.item--price{
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-color);
}
.item-del{
  font-size: 14px;
  color: var(--secondary-color);
  font-weight: 400;
}

/* <=== 1. NavBar Css ===>*/
.navlogo img{
  width:100px;
  height: 100%;
}
/* .navitems .navList{
  display: flex;
  gap: 20px;
} */
.navitems .navList li{
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}

.nav--right{
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav--right .cart{
  position: relative;
}
.nav--right .wishlist{
  position: relative;
}
.badge{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -10px;
  z-index: 1;
}


.profile--detail{
  display: grid;
 text-align: center;
  justify-content: center;
}
.profile--detail p:nth-child(1){
  font-weight: bold;
  color: var(--primary-color);
  line-height: 1.5;
}
.profile--detail p:nth-child(2){
  line-height: 0;
  color: var(--secondary-color);
}

.profile--icon{
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Search Bar  */

.search--bar__filter:focus{
  outline: none;
}

/* category css */

.size--variation ul li{

  width: 40px;
  height: 40px;
  color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 0;
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s;
  background-color: var(--secondary-litecolor);
}
.size--variation ul li:hover{
  background-color: var(--primary-color);
  color: #fff;
  transition: 0.5s;

}
.size--variation ul{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.category--btn{
  display: flex;
  justify-content: space-between;
}
.category--btn button:nth-child(1){
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 8px 16px;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
  width: 48%;
}
.category--btn button:nth-child(1):focus{
  background-color: var(--primary-color);
  color: #fff;
}
.category--btn button:nth-child(2){
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 8px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  width: 48%;
}

